body {
  text-align:center;
  font-family:'Open Sans', sans-serif;
}

input {
  background:none;
  border:1px solid #666;
  padding:0.5rem;
}

input[type=text] {
  width:12rem;
  text-align:center;
}

html, body {
  height:100%;
  margin:0;
}

body {
   display: table;
   width:100%;
}

#search {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

h1 {
  color:#025D8C;
  margin:0;
}
